<footer class="row pt-5 bg-info" style="color: white">
    <div class="pic_container">
        <img src="../images/profile.jpg" class="mx-auto" id="profile_footer">
    </div>
    <div id="info_footer">
        <h2 class="font-weight-light">Banashree Kargupta</h2>
        <p class="lead">Insurance Broker (RIBO, LLQP, MSc.)</p>
        <div class="row footerNav">
            <a class="font-weight-light" href="../controllers/home.html">Home</a>
            <a class="font-weight-light" href="../controllers/contact.html">Contact us</a>
            <a class="font-weight-light" href="../controllers/contact.html">About us</a>
        </div>
    </div>
    <div class="container mt-5 mb-1">
        <div class="row">
            <a class="text-white mr-2 ml-auto" style="font-size: small" href="#" target="_blank">Terms and Conditions</a>
            <a class="text-white ml-2 mr-auto" style="font-size: small" href="../controllers/citations.html" target="_blank">Citations</a>
        </div>
    </div>
</footer>