<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Futura Insurance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link b" id="home" href="../controllers/home.html">Home</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item b" id="auto_insurance" href="../controllers/auto_insurance.html">Auto Insurance</a>
                        <a class="dropdown-item b" id="home_insurance" href="../controllers/home_insurance.html">Home Insurance</a>
                        <a class="dropdown-item b" id="life_insurance" href="../controllers/life_insurance.html">Life Insurance</a>
                        <a class="dropdown-item b" id="business_insurance" href="../controllers/business_insurance.html">Business Insurance</a>
                        <a class="dropdown-item b" id="travel_insurance" href="../controllers/travel_insurance.html">Travel Insurance</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link b" id="about" href="../controllers/about.html">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link b" id="contact" href="../controllers/contact.html">Contact us</a>
            </li>
        </ul>
    </div>
</nav>