<div class="jumbotron" id="auto_insurance_jumb">
    <div class="container my-5">
        <h1 class="display-4">Auto Insurance</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../controllers/request_quote.html" role="button">Request a Quote</a>
        </p>
    </div>
</div>
<div class="d-block w-100 text-center my-5"><h1 class="font-weight-light">What's in a Standard Auto Insurance Policy?</h1></div>
<hr class="my-4">
<div class="mx-5">
    <span>If you own a vehicle in Ontario, you are required to purchase the following automobile insurance coverages:</span>
    <br>
    <br>
    <div class="font-weight-bold mb-2"><h4>Third-Party Liability Coverage</h4></div>
    <p style="margin-left: 5%">This section of your automobile insurance policy protects you if someone else is killed or injured, or their property is damaged. It will pay for claims as a result of lawsuits against you up to the limit of your coverage, and will pay the costs of settling the claims.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Statutory Accident Benefits Coverage</h4></div>
    <p style="margin-left: 5%">If you are injured in an automobile accident, this section of your automobile insurance policy will provide you with benefits regardless of who caused the accident, including supplementary medical rehabilitation and attendant care, caregiver, non-earner, and income replacement benefits. Options exist to increase most of these coverages.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Direct Compensation - Property Damage (DC-PD) Coverage</h4></div>
    <p style="margin-left: 5%">This section of your automobile insurance policy covers damage/loss of your vehicle/its contents if another person was at fault for the accident. It's called direct compensation because even though someone else caused the damage, you collect directly from your own insurer.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Uninsured Automobile Coverage</h4></div>
    <p style="margin-left: 5%">Protects you and your family if you are injured, killed by a hit-and-run driver, or by an uninsured motorist. It also covers damage to your vehicle caused by an identified, uninsured driver.</p>
</div>
