<div class="jumbotron jumbotron-fluid" id="business_insurance_jumb">
    <div class="container my-5">
        <h1 class="display-4">Business Insurance</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../controllers/request_quote.html" target="_blank" role="button">Request a Quote</a>
        </p>
    </div>
</div>
<div class="d-block w-100 text-center my-5"><h1 class="font-weight-light">Are You A Business Owner?</h1></div>
<hr class="my-4">
<div class="mx-5">
    <span>This kind of coverage is also called commercial insurance. Business insurance premiums consider a number of factors such as the type of business you run, the risk management strategies you have in place, number of employees, etc. Make sure you have an insurance representative who understands your business and its insurance requirements.</span>
    <br>
    <br>
    <span>If a business owner does not feel he or she has the ability to effectively assess business risk and the need for coverage, they should work with a reputable, experienced and licensed insurance broker.<sup><a href="../controllers/citations.html" target="_blank">7</a></sup></span>
    <br>
    <br>
    <span>There are several types of business or commercial insurance that you can consider:</span>
    <br>
    <br>
    <div class="font-weight-bold mb-2"><h4>Professional Liability Insurance</h4></div>
    <p style="margin-left: 5%">Professional liability insurance insures against negligence claims that result from mistakes or failure to perform.<sup><a href="../controllers/citations.html" target="_blank">7</a></sup> Each policy can differ greatly depending on the company's concerns.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Property Insurance</h4></div>
    <p style="margin-left: 5%">Property insurance covers your business' inventory, signage, equipment, in the event of a fire, storm, or theft, but not mass-destruction events like floods or earthquakes. You will need a separate policy, if your business is based in an area which is at frequent risk of these issues.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Product Liability Insurance</h4></div>
    <p style="margin-left: 5%">If you own a business that sells products, not services, then product liability insurance is crucial. This policy will protect your business in the case that you face a lawsuit due to damages caused by your products.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Vehicle Insurance</h4></div>
    <p style="margin-left: 5%">This insurance is very important for business owners that use vehicles for business purposes. All vehicles should be insured regardless, however this will ensure against third-party injury and comprehensive insurance will also cover the vehicle in an accident. This policy is especially important for businesses delivering goods through a vehicle and delivery personnel.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Business Interruption Insurance</h4></div>
    <p style="margin-left: 5%">Business interruption insurance compensates a business for its lost income during events that cause a disruption to the normal course of business.<sup><a href="../controllers/citations.html" target="_blank">7</a></sup> This type of insurance is required for companies doing business at a physical location, such as a retail store.</p>
    <hr class="my-4">
    <div class="font-weight-bold mb-2"><h4>Regarding Home-Based Business Owners</h4></div>
    <p style="margin-left: 5%">If you are a homeowner and run a business from your home, your homeowner policy will not cover your business, but commercial property insurance does. If your business faces a lawsuit due to damages caused by your products, product liability insurance can protect your case.</p>
</div>
