<div class="container mr-auto mt-5">
    <p class="display-3">Citations</p>
    <ol>
        <li><p>
            <span class="font-italic">Auto Insurance. </span>(n.d.). Retrieved April 12, 2018, from
            <br>
            <a href="http://www.pacins.ca/services/auto-insurance/" target="_blank" style="margin-left: 5%">http://www.pacins.ca/services/auto-insurance/</a></p></li>
        <li><p>
            <span class="font-italic">Home Insurance. </span>(n.d.). Retrieved April 12, 2018, from
            <br>
            <a href="http://www.pacins.ca/services/home-insurance/" target="_blank" style="margin-left: 5%">http://www.pacins.ca/services/home-insurance/</a></p></li>
        <li><p>
            <span class="font-italic">#1 Life Insurance Broker in Toronto. </span>(n.d.). Retrieved April 12, 2018, from
            <br>
            <a href="http://www.pacins.ca/services/life-insurance/" target="_blank" style="margin-left: 5%">http://www.pacins.ca/services/life-insurance/</a></p></li>
        <li><p>
            <span class="font-italic">Term life insurance. </span>(n.d.). Retrieved April 12, 2018, from
            <br>
            <a href="https://www.sunlife.ca/ca/Insurance/Life insurance/Term life insurance?vgnLocale=en_CA" target="_blank" style="margin-left: 5%">https://www.sunlife.ca/ca/Insurance/Life insurance/Term life insurance?vgnLocale=en_CA</a></p></li>
        <li><p>
            insurance, L. and insurance, U. (2018). <span class="font-italic">Universal life insurance. </span>[online] Sunlife.ca. Available at:
            <br>
            <a href="https://www.sunlife.ca/ca/Insurance/Life+insurance/Universal+life+insurance?vgnLocale=en_CA" target="_blank" style="margin-left: 5%">https://www.sunlife.ca/ca/Insurance/Life+insurance/Universal+life+insurance?vgnLocale=en_CA</a>
            <br>
            <span style="margin-left: 5%">[Accessed 12 Apr. 2018].</span></p></li>
        <li><p>
            insurance, L. and insurance, U. (2018). <span class="font-italic">Participating life insurance. </span>[online] Sunlife.ca. Available at:
            <br>
            <a href="https://www.sunlife.ca/ca/Insurance/Life+insurance/Participating+life+insurance?vgnLocale=en_CA" target="_blank" style="margin-left: 5%">https://www.sunlife.ca/ca/Insurance/Life+insurance/Participating+life+insurance?vgnLocale=en_CA</a>
            <br>
            <span style="margin-left: 5%">[Accessed 12 Apr. 2018].</span></p></li>
        <li><p>
            Staff, I. (2018). <span class="font-italic">Business Insurance. </span>[online] Investopedia. Available at:
            <br>
            <a href="https://www.investopedia.com/terms/b/business-insurance.asp" target="_blank" style="margin-left: 5%">https://www.investopedia.com/terms/b/business-insurance.asp</a>
            <br>
            <span style="margin-left: 5%">[Accessed 12 Apr. 2018].</span></p></li>
    </ol>
</div>
<div class="container mt-5 mb-0 mr-auto ml-5">
    <a href="../controllers/close.html"><h4 class="font-weight-light">Return</h4></a>
</div>