<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC04QdCLYeGXDDCIJGgVV_QFQcveF7URHU&callback=loadMap"></script>
<script src="../js/map.js"></script>
<div class="container mr-auto mt-5">
    <p class="display-3">Contact us</p>

    <div class="container direct">
        <h5 class="font-weight-light">
            You can reach us by calling:
            <br>
            <a href="tel:647-532-5844">+1 (647) 532-5844</a>
            <br>
            or emailing one of the following:
            <br>
            <a href="mailto:banashreekargupta@gmail.com">banashreekargupta@gmail.com</a>
            <br>
            <a href="mailto:bkargupta@pacins.ca">bkargupta@pacins.ca</a>
        </h5>
    </div>

    <div class="container address mt-5">
        <h5 class="font-weight-light">
            Our office is located at:
            <br>
            <a href="https://maps.google.com/?q=43.658937,-79.673475" target="_blank">6625 Tomken Road, Mississauga, ON</a>
            <br>
            You can also refer to the map below:
            <br>
            <br>
        </h5>
    </div>

    <div id="map" style="width: 100%;height: 24rem"></div>
</div>