<div class="jumbotron jumbotron-fluid" id="home_page_jumb">
    <div class="container my-5">
        <h1 class="display-4">Insure in Your Future</h1>
        <p class="lead">With us you're covered.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../controllers/request_quote.html" target="_blank" role="button">Request a Quote</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="d-block w-100 text-center my-5"><h1 class="display-4">Choosing the Right Insurance</h1></div>
    <hr class="my-4">
    <div class="row">
        <div class="col-sm text-center">
            <svg class="m-auto icon" fill="#000000" height="120" viewBox="0 0 24 24" width="120" xmlns="http://www.w3.org/2000/svg" id="auto">
                <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <div class="my-3">
                <h5 class="mt-0">Auto Insurance</h5>
                <p>You could be the best driver in the world, but you still wouldn’t be fully protected against bad drivers, erratic weather, or unpredictable road accidents which could leave you on the hook to pay for expensive damages.<sup><a href="../controllers/citations.html" target="_blank">1</a></sup></p>
                <a href="../controllers/auto_insurance.html" class="card-link">Learn more</a>
            </div>
        </div>
        <div class="col-sm text-center">
            <svg class="m-auto icon" fill="#000000" height="120" viewBox="0 0 24 24" width="120" xmlns="http://www.w3.org/2000/svg" id="home">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
            <div class="my-3">
                <h5 class="mt-0">Home Insurance</h5>
                <p>Imagine finding yourself tomorrow with absolutely nothing to your name. If your home or property were to burn down tomorrow, you would not only lose the property itself, but all your belongings as well.<sup><a href="../controllers/citations.html" target="_blank">2</a></sup></p>
                <a href="../controllers/home_insurance.html" class="card-link">Learn more</a>
            </div>
        </div>
        <div class="col-sm text-center">
            <svg class="m-auto icon" fill="#000000" height="120" viewBox="0 0 24 24" width="120" xmlns="http://www.w3.org/2000/svg" id="life">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M13 2v8h8c0-4.42-3.58-8-8-8zm6.32 13.89C20.37 14.54 21 12.84 21 11H6.44l-.95-2H2v2h2.22s1.89 4.07 2.12 4.42c-1.1.59-1.84 1.75-1.84 3.08C4.5 20.43 6.07 22 8 22c1.76 0 3.22-1.3 3.46-3h2.08c.24 1.7 1.7 3 3.46 3 1.93 0 3.5-1.57 3.5-3.5 0-1.04-.46-1.97-1.18-2.61zM8 20c-.83 0-1.5-.67-1.5-1.5S7.17 17 8 17s1.5.67 1.5 1.5S8.83 20 8 20zm9 0c-.83 0-1.5-.67-1.5-1.5S16.17 17 17 17s1.5.67 1.5 1.5S17.83 20 17 20z"/>
            </svg>
            <div class="my-3">
                <h5 class="mt-0">Life Insurance</h5>
                <p>No one likes to think about the possibility of getting ill, or even worse, dying unexpectedly. However, hundreds of thousands of Canadians die each year, and countless more are diagnosed with a deadly illness.<sup><a href="../controllers/citations.html" target="_blank">3</a></sup></p>
                <a href="../controllers/life_insurance.html" class="card-link">Learn more</a>
            </div>
        </div>
    </div>
</div>