<div class="jumbotron jumbotron-fluid" id="home_insurance_jumb">
    <div class="container my-5">
        <h1 class="display-4">Home Insurance</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../controllers/request_quote.html" target="_blank" role="button">Request a Quote</a>
        </p>
    </div>
</div>
<div class="d-block w-100 text-center my-5"><h1 class="font-weight-light">Home Sweet Home</h1></div>
<hr class="my-4">
<div class="mx-5">
    <span>An investment into a home is one of the largest financial decisions you can make, so it's important to protect it against unforeseeable risks.</span>
    <br>
    <br>
    <span>As a homeowner, you need to insure your house for its rebuilding/renovating costs in the event of serious damage or destruction. You should know who and what is covered, understanding the contractual obligations in your policy. Home insurance coverage includes personal liability coverage.</span>
    <br>
    <br>
    <div class="font-weight-bold mb-2"><h4>Coverage</h4></div>
    <p style="margin-left: 5%">The basic coverages you need for your home are: Fire, Theft & Vandalism, and Weather Damage.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Condominiums and Strata Corporations</h4></div>
    <p style="margin-left: 5%">Condominium and Strata Corporation policies are separate: one for a unit owner and another for the condominium or strata corporation.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Owner-Occupied Homes versus Homes For Rent</h4></div>
    <p style="margin-left: 5%">Insurance companies separate owner-occupied homes from homes that are rented to third party tenants. Changes in occupancy can affect your coverage, so always speak to your insurance representative if you are considering a change.
        <br>
        <br>
        Landlords and tenants have different rights and responsibilities. Consider your insurance coverage and responsibilities before you rent your property.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Recreational Properties and Secondary Homes</h4></div>
    <p style="margin-left: 5%">The difference between a Recreational Property and a Secondary Home is that a recreational property is only used at certain times of the year or month. Secondary homes are typically used all year long.</p>
    <hr class="my-4">
    <div class="font-weight-bold mb-2"><h4>Regarding Boat Owners</h4></div>
    <p style="margin-left: 5%">Boat Insurance can cover damage, liability and other unforeseeable events. Insurance can protect your liability risks when your boat is docked at a local marina or stored in your private boathouse.</p>
</div>
