<div class="jumbotron jumbotron-fluid" id="life_insurance_jumb">
    <div class="container my-5">
        <h1 class="display-4">Life Insurance</h1>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="../controllers/request_quote.html" target="_blank" role="button">Request a Quote</a>
        </p>
    </div>
</div>
<div class="d-block w-100 text-center my-5"><h1 class="font-weight-light">Family Always Comes First</h1></div>
<hr class="my-4">
<div class="mx-5">
    <span>It’s a simple process to ensure long-term peace of mind for you and your loved ones, so that when something happens, you and your family can deal with it without worrying about the finances.</span>
    <br>
    <br>
    <span>Do you have the right life insurance package to make sure your loved ones aren’t burdened by additional, unnecessary stresses if you get sick or die?</span>
    <br>
    <br>
    <span>There are many different types of life insurance to choose from:</span>
    <br>
    <br>
    <div class="font-weight-bold mb-2"><h4>Term Life Insurance</h4></div>
    <p style="margin-left: 5%">Term life insurance provides a fixed amount of insurance over a certain time period. It is affordable, and the simplest type of life insurance.<sup><a href="../controllers/citations.html" target="_blank">4</a></sup></p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Whole Life Insurance</h4></div>
    <p style="margin-left: 5%">Also called permanent life insurance since it covers you permanently. This kind of insurance can also build in value over time, allowing you to save more money. With this insurance, it is guaranteed that your premium won't increase from the time you purchase the policy. These can also be similar to term life, where you only pay for a certain amount of time, after which you don’t have to pay anymore.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Universal Life Insurance</h4></div>
    <p style="margin-left: 5%">This is similar to a whole life insurance policy, combining protection and savings.<sup><a href="../controllers/citations.html" target="_blank">5</a></sup> You are guaranteed that your beneficiaries will receive the death benefit of your choosing.</p>
    <br>
    <div class="font-weight-bold mb-2"><h4>Participating Life Insurance</h4></div>
    <p style="margin-left: 5%">This is another kind of whole life insurance. Just like whole life, your premium is guaranteed from the time of purchase. The difference is that you can receive dividends. You can cash out these dividends, or use them to reduce annual premiums, earn interest, or get more coverage.<sup><a href="../controllers/citations.html">6</a></sup></p>
</div>
